@{
    ViewData["Title"] = "Home Page";
}

<h2>Calc Service Demonstration:</h2>
<ul>
    <li>
        <a href="/Calc/UsingModelCalculate">Using Model Calc</a>
    </li>
    <li>
        <a href="/Calc/DataCalculate">Using ViewData Calc</a>
    </li>
    <li>
        <a href="/Calc/BagCalculate">Using ViewBag Calc</a>
    </li>
    <li>
        <a href="/Calc/ServiceInjectionCalculate">Using Service Injection Calc</a>
    </li>
</ul>